:root {
    --light: #bababa;
    --dark: #999999;
    --transition-time: 0.3s;
}

.dark {
    background-color: rgb(32, 32, 32);
    color: var(--light);
}

.dark .title {
    color: var(--light);
}

.dark .title span {
    color: var(--dark);
}

.dark a {
    color: var(--dark);
    transition: color var(--transition-time) ease;
}

.dark a:hover { 
    color: var(--light);
}