.dark {
    background-color: rgb(32, 32, 32);
    color: #bababa;
}

.dark .title {
    color: #bababa;
}

.dark .title span {
    color: #999999;
}

.dark a {
    color: #999999;
}

a:hover { 
    color: #bababa;
}
